/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --red: #e87de3;
  --orange: #e88a46;
  --yellow: #f59e0b;
  --green: #19a4b4;
  --blue: #f29279;
  --purple: #b05de6;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", sans-serif;
}
